@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.body {
  max-width: 100vw;
  max-height: 100vh;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

.container {
  background-color: #1c232d;
  width: 450px;
  height: 430px;
  margin: 0 auto;
  padding: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.img-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--White);
  margin-bottom: 10px;
}

p {
  color: var(--Light-Grey);
}

.rating {
  width: 45px;
  height: 45px;
  background-color: var(--Light-Grey);
  border-radius: 25px;
  cursor: pointer;
}

.rating:hover {
  background-color: var(--Orange);
  color: white;
}

.submit {
  width: 100%;
  background-color: var(--Orange);
  padding: 13px;
  margin-bottom: 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
}

button:hover {
  background-color: white;
  color: var(--Orange);
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.thank-you {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thank-you img {
  width: 50%;
}

.thank-you p {
  text-align: center;
}

#change-rating {
  color: var(--Orange);
  display: inline;
  background-color: white;
  padding: 8px;
  border-radius: 15px;
}

h2 {
  color: white;
}

input[type="radio"] {
  appearance: none;
  color: currentColor;
}

.hidden {
  display: none;
}

.form-circles {
  display: flex;
}

.form-button {
  font-size: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: var(--Dark-Blue);
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  color: white;
  margin-bottom: 30px;
}

.form-button:hover {
  background-color: var(--Light-Grey);
}

input[type="radio"]:checked + .form-button {
  background-color: orange;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
